<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Тестовый магазин книг{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="site-header">
        {% block header %}
            <h1>Книжный магазин</h1>
        {% endblock %}
    </header>

    <nav class="site-nav">
        {% block nav %}
            <ul>
                <li><a href="/books/book_store/">Магазин</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/carts/">Корзина</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
         {% endblock %}
    </nav>

    <main class="site-main">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="site-footer">
        {% block footer %}
            <p>&copy; 2025 Book store mf</p>
        {% endblock %}
    </footer>
</body>
</html>